:root {
  --font-primary: 'Roboto', sans-serif;

  --color-dark-bg: #1F2937;   /* Dark background (hero + footer) */
  --color-light-text: #F9FAF8;/* Main light text */
  --color-muted-text: #E5E7EB;/* Secondary / muted text */
  --color-accent: #3882F6;    /* Button / call-to-action */
  --color-quote-bg: #E5E7EB;  /* Quote section background */

  --hero-title-size: 48px;
  --hero-title-weight: 900;
  --hero-title-color: var(--color-light-text);

  --hero-secondary-size: 18px;
  --hero-secondary-color: var(--color-muted-text);

  --hero-logo-size: 24px;
  --hero-logo-color: var(--color-light-text);

  --info-header-size: 36px;
  --info-header-weight: 900;
  --info-header-color: var(--color-dark-bg);

  --quote-text-size: 36px;
  --quote-text-weight: 300;
  --quote-text-color: var(--color-dark-bg);

  --Abox-shadow: 10px 16px 50px 4px rgba(0, 0, 0, 0.56);

}
/* Global */
* {
    font-family: var(--font-primary);

    /* DEBUG */
    /* outline: 2px solid red; */
}
body {
    margin: 0px;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    padding: 0px 96px;
    align-items: center;
    background-color: var(--color-dark-bg);
}

header .header-links ul {
    list-style: none;
    display: flex;
    font-size: 18px;
    gap: 16px;
    margin: 0px;
    padding: 0px;
}

header ul li a {
    color: var(--color-muted-text);
    text-decoration: none;
    transition: all 0.2s ease;
}
a:hover {
    transform: scale(1.2);
    color: var(--color-accent);
}

/* Hero */
.Hero {
    background-color: var(--color-dark-bg);
    margin: 0px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 32px 96px 64px;
    gap: 24px;
}

.Hero h1 {
    margin: 0px;
    color: var(--hero-title-color);
}

.Hero p {
    margin: 0px;
    color: var(--color-muted-text);
    margin: 12px 0px;
}

.Hero button {
    border-radius: 12px;
    background-color: var(--color-accent);
    color: var(--color-light-text);
    padding: 10px 32px;
    transition: all 0.3s ease;
}

.Hero button:hover {
    transform: scale(1.1);
}

.Hero img {
    box-shadow:var(--Abox-shadow);
    border-radius: 12px;
    transition: all 0.3s ease;
}

.Hero img:hover {
    transform: scale(1.1);
}


/* Information */
.Info {
    text-align: center;
    padding: 24px;
}

.Card-grid {
    display: flex;
    justify-content: center;
    padding: 12px 75px 64px 75px;
    gap: 40px;
}
.Card-grid .image-box {
    width: 220px;
    height: 220px;

    border-radius: 12px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.Card-grid .image-box:hover {
    box-shadow: var(--Abox-shadow);
    transform: scale(1.1);
}

.Card-grid .image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card p {
    color: grey;
}

/* Quote */
.Quote {
    background-color: var(--color-quote-bg);
    padding: 32px;
    display: flex;
    justify-content: center;
    padding: 64px 110px;
    flex-direction: column;
}
.Quote p {
    color: gray;
    font-size: var(--quote-text-size);
}

.Quote h3 {
    align-self: flex-end;
    padding: 0px 100px;
}

/* CTA */
.CTA {
    padding: 100px 96px;
}

.CTA .box {
    background-color: var(--color-accent);
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 40px 100px;
    color: var(--color-light-text);
    border-radius: 12px;
}

.CTA .box p {
    margin: 0px;
    padding-top: 5px;
    color: var(--color-muted-text);
}

.CTA .box h3 {
    margin: 0px;
}

.CTA .right button {
    background: none;
    border-color: var(--color-light-text);
    color: var(--color-light-text);
    padding: 8px 32px;
    border-radius: 8px;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    padding: 16px;
    color: var(--color-light-text) ;
    background-color: var(--color-dark-bg);
    font-family: var(--font-primary);
    font-size: 12px;
}
